@import ../../../sass/_colors

.tdEdit
    padding: 12px 12px 11px
    box-sizing: border-box

.tableRow
    td
        box-sizing: border-box
        padding: 21px 12px 20px

        &:first-child
            padding: 16px 9px 15px
