@import ../../sass/_colors

tr
    border-bottom: 1px solid $line-color

.table
    font-size: 14px
    line-height: 18px
    letter-spacing: 0.1px
    margin: 11px 9px 11px 10px
    border-collapse: collapse

.table_header
    height: 30px

    th
        color: $text-color-secondary
        font-weight: 400
        box-sizing: border-box
        padding: 0 0 12px 12px
        text-align: left

.table_row
    height: 60px

